<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Заголовок страницы</title>

</head>
<body>
  <form action="/web/zapros/" method="post">
    <div class="jumbotron">
      <div class="container">
        <h1>Запрос</h1>
        <p>
          <a href="/web/zapros/zapr1/" class="btn btn-success btn-lg">Вывести брэнд и категории</a>

        </p>
      </div>
    </div>
  </form>


</body>
</html>
